@model IEnumerable<上海燕洵物联网科技有限公司人事管理系统.Models.PunchcardViewModel>

@{
    ViewBag.Title = "GetAllAttend";
}

<h2>打卡记录</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<table class="table">
    <tr>
        <th>
            员工编号
        </th>
        <th>
            签到时间
        </th>
        <th>
            签退时间
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signindate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signoutdate)
            </td>
        </tr>
    }

</table>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/showmenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="\\Login\\funmenu?PermissionName=' + data[i].PermissionName + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);


            }

        })

    }
</script>
