
@{
    ViewBag.Title = "Punchcard";
}

<h2>打卡</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<div>
    @using (Html.BeginForm())
    {
        
        <p style="text-align:center;margin-top:200px;"> <span style="margin-right:50px">员工号</span> <input id="Text1" type="text" style="width:200px;" name="Id" value="@Session["EmpsId"]" /></p>
       
        <p style="text-align:center;margin-top:100px">
            <input  class="btn btn-primary" id="Button1" type="submit" value="打卡" />
        </p>
    }
</div>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })

    }
</script>



