
@{
    ViewBag.Title = "Punchcard";
}

<h2>打卡</h2>
<div>
    @using (Html.BeginForm())
    {
        <p>请输入员工号<input id="Text1" type="text" /></p>
        <input id="Button1" type="submit" value="打卡" />
    }
</div>


