
@{
    ViewBag.Title = "Punchcard";
}

<h2>打卡</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Areas/layer/mobile/need/layer.css" rel="stylesheet" />
<script src="~/Areas/layer/layer.js"></script>
<div>

        <p style="text-align:center;margin-top:200px;"> 
      <input id="Text1" type="hidden" style="width:200px;" name="Id" value="@Session["EmpsId"]" />
        </p>

        <p style="text-align:center;margin-top:100px">
            <ul>
                <li class="layui-anim-scaleSpring"  style="cursor:pointer;margin-left:600px; font-size:50px;color:white;list-style: none;display: inline-block;line-height: 200px;text-align: center; width:200px; height:200px;border-radius: 100px;background-color:#009688" onclick="Puncharted()">打卡</li>
            </ul>
            
            
        </p>
</div>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })

    }
    function Puncharted() {
        $.ajax({
            url: "/Attendance/Punchcard",
            data: { Id: $("#Text1").val() },
            type: "post",
            success: function (data) {
                layer.alert(data);
            }
        })
    }
</script>



