
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Areas/layer/mobile/need/layer.css" rel="stylesheet" />
    <script src="~/Areas/layer/layer.js"></script>
</head>
<body class="text-center">
    <form class="form-signin" method="post" action="/Login/GetoneLogin">
        <img class="mb-4" src="~/images/logo.PNG" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">上海燕讯物联网有限公司</h1>
        <label for="inputEmail" class="sr-only">账号:</label>
        <input type="text" name="UserName" id="inputEmail" class="form-control" placeholder="请输入您的帐号" required autofocus>
        <label for="inputPassword" class="sr-only">密码:</label>
        <input type="password" name="UserPwd" id="inputPassword" class="form-control" placeholder="请输入您的密码" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me">记住密码
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>
</html>

