
@{
    ViewBag.Title = "Show";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h2>显示个人信息</h2>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType:"application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="\\Login\\funmenu?PermissionName=' + data[i].PermissionName + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li); 
            }
         
        })

    }
    function skip(PermissionName) {
        location.href = '/Login/function?PermissionName=' + PermissionName;
    }
</script>

