@model 上海燕洵物联网科技有限公司人事管理系统.Models.DepartmentViewModel

@{
    ViewBag.Title = "部门详情";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<h2>部门详情</h2>

<div>
    <i class="layui-icon layui-icon-return" style="font-size: 30px;color: #1E9FFF; " onclick="location.href='/Manager/ShowDepart'"></i>
    <table class="table-hover" style=" width:500px;height:350px;margin-left:400px;">
        <tr>

            <td>
                <h3>   @Html.Label("部门名称:")</h3>
            </td>
            <td> <h3> @Html.DisplayFor(model => model.BName)</h3></td>
        </tr>
        <tr>
            <td><h3> @Html.Label("部门描述:")</h3></td>
            <td><h3> @Html.DisplayFor(model => model.Bremark)</h3></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <h4>
                    <button class="layui-btn layui-btn-normal" onclick="location.href='/Manager/UpdateDepart?id=@Model.Id'">修改部门</button>
                </h4>
            </td>
        </tr>
    </table>
</div>

<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "/Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
</script>
