@model 上海燕洵物联网科技有限公司人事管理系统.Models.DepartmentViewModel

@{
    ViewBag.Title = "GetOneDepart";
}
<script src="~/Content/jquery-3.1.1.js"></script>
<h2>GetOneDepart</h2>

<div>
    <h4>DepartmentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          部门名称
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BName)
        </dd>

        <dt>
           部门描述
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bremark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改部门", "UpdateDepart", new { id = Model.Id }) |
    @Html.ActionLink("返回部门列表", "ShowDepart")
</p>
<script>
    fun();
    function fun() {
        $("[name=Menu]").empty();
        $.ajax({
            url: "../Login/ShowMenu",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                var li = '';
                for (var i in data) {
                    li += '  <li><a href="' + data[i].href + '"><i class="fa fa-edit"></i><span>' + data[i].PermissionName + '</span></a></li>';
                }
                $("[name=Menu]").append(li);
            }

        })


    }
</script>
